/vendor
vendor/
/node_modules
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/public/storage
public/storage
/public/hot
public/hot
/storage/*.key
storage/*.key
.env.*.php
.env.php
.env
.env.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
yarn-error.log

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.idea/
